{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<h2>Ajouter une nouvelle personne</h2>
        {{ include('admin/person/_form.html.twig', {form: form, button:'Ajouter'}) }}
	</div>
{% endblock %}