<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('person.show', {id: person.id, slug: person.slug})}}">{{ person.lastname }}
				{{ person.firstname }}</a>
		</h5>
		<p class="card-text">Ici une description, on verra + tard</p>
	</div>
</div>
