{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<h2>Editer le service</h2>
        {{ include('admin/service/_form.html.twig', {form: form, button:'Editer'}) }}
	</div>
{% endblock %}
