{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<h2>Créer un nouveau service</h2>
        {{ include('admin/service/_form.html.twig', {form: form, button:'Ajouter'}) }}
	</div>
{% endblock %}
